<header>
    <div class="prof-header primary font">
        <img src={{profPic}} alt="author-pfp" class="profile-crop">
        <div class="prof-header__container">
            <div class="container prof-header__top-buttons">
                <h3 class="author-name">{{username}}</h3>
                <!--add button switch--><button class="button-alt">Follow</button>
            </div>
            <div>
                <h4 class="author-name">{{userFullName}}</h4>
                <div class="description">
                    <p>{{userBio}}</p>
                </div>
            </div>
        </div> 
    </div>
</header>

<main>
    <div class="prof-feed">
        <div class="video-grid">
            <video class="video-grid__item" loop src="videos/Val1.mp4" width=100%></video>
            <video class="video-grid__item" loop src="videos/NateClip1.MOV" width=100%></video>
            <video class="video-grid__item" loop src="videos/Val1.mp4" width=100%></video>
            <video class="video-grid__item" loop src="videos/NateClip1.MOV" width=100%></video>
            <video class="video-grid__item" loop src="videos/Val1.mp4" width=100%></video>
            <video class="video-grid__item" loop src="videos/NateClip1.MOV" width=100%></video>
            <video class="video-grid__item" loop src="videos/Val1.mp4" width=100%></video>
            <video class="video-grid__item" loop src="videos/NateClip1.MOV" width=100%></video>
        </div>
    </div>
</main>

<script src="./bundle.js"></script>