<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
<script src="profilepage.precompiled.js"></script>
<header>
    <div class="prof-header primary font">
        <div class="prof-header--pfp">
            <img src={{profPic}} id="profPFP" alt="Profile Pic" class="profile-crop">
            <input type="file" id="pfpUpload" accept="image/*" style="display: none;">
            <div class="prof-edit">
                <button><img src="/imgs/editicon.png" alt="Edit Button Icon" class="prof-edit-button" style="display: none"></button>
            </div>
            <!--<button class="button-alt primary font button-follow">Follow</button>-->
        </div>
        <div class="prof-header--info">
            <div class="prof-top-buttons">
                <h4 id="profPageUsername" class="primary font">{{username}}</h4>
            </div>
            <div class="prof-header--info__user">
                <p class="primary font" contenteditable="false">{{userFullName}}</p>
                <div class="prof-edit">
                    <button><img src="/imgs/editicon.png" alt="Edit Button" class="prof-edit-button" style="display: none"></button>
                </div>
            </div>
        </div> 
    </div>
    <div class="prof-bio primary font">
        <div class="prof-bio--description">
            <p class="description center" contenteditable="false">{{userBio}}</p>
            <div class="prof-edit">
                <button><img src="/imgs/editicon.png" alt="Edit Button" class="prof-edit-button" style="display: none"></button>
            </div>
        </div>
    </div>
    <!--
        <div class="primary font prof-header--stats">
            <div class="prof-stats-container">
            </div>
            <button class="prof-edit-button button-alt"><h4>+</h4></button>
        </div>
        <div id="upload-overlay" class="">
            <form id="setStatsForm" action="" method="post" class="font primary">
                <div class="upload-container center">
                    
                        <div>
                            <label><span>Game:</span>
                                <select id="statsGames" class="font">
                                    <option value="">Test1</option>
                                    <option value="">Test2</option>
                                    <option value="">Test3</option>
                                </select>
                            </label>
                        </div>
                        <div>
                            <label><span>Username: </span><input type="text" placeholder="" id="caption-input"></label>
                        </div>
                        <input class="primary button" type="submit" value="Apply">
                        <button class="button-alt primary font" type="reset" id="uploadCancel">Cancel</button>
                </div>
            </form>
        </div>
    -->
</header>

<main>
    <div class="prof-feed">
        <div class="video-grid" id="profPostContainer">
            <div>
            </div>
            <div id="feedError" class="center primary font">
                <h4>No posts yet</h4>
            </div>
        </div>
    </div>
</main>

<script src="./bundle.js"></script>