<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
<script src="profilepage.precompiled.js"></script>

<div class="video-grid__item prof-feed--video">
    <video id="{{videoId}}" loop muted="true" webkit-playsinline playsinline src="https://res.cloudinary.com/dllfvjfoy/video/upload/videos/{{videoId}}" width="100%"></video>
    <div class="prof-edit">
        <button><img src="/imgs/trashicon.png" alt="Edit Button Icon" class="prof-edit-button" style="display: none"></button>
    </div>
</div>