/* general */
:root {
    font-size: 62.5%;
}

body {
box-sizing: border-box;
margin: 0;
background-color: black;
}

/* typography */
.font {
    font-family: Roboto, Arial, Tahoma, sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    line-height: 1.5;
}
.primary {color: white;}
.secondary {color: black;}
.center {text-align: center;}
.in-line {display: inline-block;}
.accent2 {color: #08C8BB;}
.accent1 {color: #c80815;}
.accent-split {text-shadow: 0.05rem 0.05rem #08C8BB;}
.hide {display: none;}

header {
    margin: 0rem 2rem 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-crop {
    border-radius: 50%;
    margin-top: 0;
    width: 5.6rem; 
    height: 5.6rem; 
    object-fit: cover;
    vertical-align: middle;
}

.logo {
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 1rem;
    margin-left: 1rem;
}

.navbar{
    margin: 0;
    float: right;
    margin-right: 2rem;
}

.navbar a {
    text-decoration: none;
    color: #a8a8a8;
    line-height: 1.5;
    padding: 0.5rem;
    margin: 0.5rem;
}

.feed-navbar li {
    padding-left: 3rem;
    padding-right: 3rem;
}

.button {
    background: transparent;
    border: none !important;
    cursor: pointer;
}

.button:active {
    color: #a8a8a8;
}

.button-alt {
    color: white;
    background-color: #363636;
    border-color: #363636;
    border-style: solid;
    border-radius: .5rem;
    border-left-width: 1rem;
    border-right-width: 1rem;
    border-top-width: 0;
    border-bottom-width: 0;
    line-height: 1.5;
    cursor: pointer;
}

.button-alt:active {
    color: #a8a8a8;
}

.profile-button {
    all: unset;
    cursor: pointer;
}

.kebab {
    vertical-align: middle;
}

.upload_button {
    display: none;
}

p {
    line-height: 1.5;
}

hr.solid {
    border: 1px solid #131313;
}

hr.solid-alt {
    border: 1px solid black;
}

/* overlay and spinner */
.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

#spinner-overlay {
    display: flex;
    background: rgba(0, 0, 0, 1);
    z-index: 19;
}

#spinner {
    display: block;
    margin: auto;
    z-index: 20;
    border: 2rem solid #f3f3f3; /* Light gray border */
    border-top: 2rem solid #08C8BB; /* Blue border on top */
    border-radius: 50%; /* Make it round */
    width: 10rem; /* Set the width and height */
    height: 10rem;
    animation: spin 2s linear infinite; /* Rotate animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); } /* Start position */
    100% { transform: rotate(360deg); } /* End position (full circle) */
}

/* Sign Up Form */


.login-form {
    position: fixed;
    z-index: 9;
    background-color: black;
    min-width: 40rem;
    width: 25%;
    min-height: 15rem;
    margin: auto;
    border-radius: 2rem;
}

.login-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 2.5;
}

.login-container label {
    display: block;
}

.login-container .error-message {
    display: none;
    color: #c80815;
}

.error-message h6 {
    margin: 0rem;
}

.register-buttons{
    justify-content: center;
}

/* Upload Form */
.upload-form {
    position: fixed;
    z-index: 9;
    background-color: black;
    min-width: 40rem;
    width: 25%;
    margin: auto;
    border-radius: 2rem;
}

.upload-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 2.5;
}

.upload-form__file-div {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.upload-container button [type=file] {
    display:none;
}

.upload-container [type=file]{ 
    display:none;
}

/* Main */
main {
    margin: 0 2rem 0;
}

/* Stats Display */
.stats-display {
    display: none;
    position: absolute;
    z-index: 9;
    background-color: #131313;
    min-width: 20rem;
    width: 30%;
    margin: auto;
    top: 10%;
    border-radius: 2rem;
}

.stats-container {
    margin-top: -1rem;
    line-height: 2.5;
}

.stats-container h5 {
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.stats-container hr {
    margin-top: 0;
    margin-bottom: 0;
    border-color: black;
}

.stats-display hr {
    margin-top: 0;
    border-color: black;
}

/* Posts */
.post {
    display: inline-block;
    vertical-align: top;
}

.content {
    padding-left: 1rem;
}

.author-name {
    display: inline-block;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 0;
}

.author h4 {
    line-height: 1.9rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.description p {
    line-height: 1.9rem;
    font-size: 1.4rem;
    word-break: break-word;
    font-weight: 400;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
}

.post video {
    margin-bottom: 4rem;
}

#feedError {
    padding: 5rem;
}

/* PROFILE TEMPLATE */

.prof-header {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 5rem;
}

.prof-header--pfp {
    position: relative;
    width: 11.2rem;
    height: 11.2rem;
}

.prof-header--pfp img {
    width: 85%;
    height: 85%;
}

.prof-edit button {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    width: 2.7rem;
    height: 1.7rem;
    border: none;
    background-color: transparent;
}

.prof-edit img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.prof-header--info {
    margin-left: 5rem;
}

.prof-header--info__user {
    position: relative;
    width: 15rem;
    height: 15rem;
}

.prof-top-buttons button {
    margin-left: 5rem;
}

.prof-header--stats {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
}

.prof-header--stats h4 {
    margin: 0;
}

.prof-feed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.prof-feed--video {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 1rem 1rem;
    padding: 2rem;
}

.video-grid__item {
    display: flex;
}

.video-grid .prof-edit button {
    top: 0.5rem;
    right: 0.5rem;
}

