/* general */
:root {
    font-size: 62.5%;
}

body {
box-sizing: border-box;
margin: 0;
background-color: #121212;
}

/* typography */
.font {
    font-family: Roboto, Arial, Tahoma, sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
}
.primary {color: #fff;}
.secondary {color: #121212;}
.center {text-align: center;}
.in-line {display: inline-block;}
.accent2 {color: #08C8BB;}
.accent1 {color: #c80815;}
.accent-split {text-shadow: 0.05rem 0.05rem #08C8BB;}
.hide {display: none;}

header {
    margin: 0rem 0rem 0rem 0rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-crop {
    border-radius: 50%;
    margin-top: 0;
    width: 4.5rem; 
    height: 4.5rem; 
    object-fit: cover;
    vertical-align: middle;
}

.logo {
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 1rem;
    margin-left: 2rem;
}

.navbar{
    margin: 0;
    float: right;
    margin-right: 1rem;
}

.navbar ul {
    display: inline-flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
    padding: 0.5rem;
    margin: 0.5rem;
}

.feed-navbar ul {
    display: flex;
    justify-content: center;
}

.feed-navbar li {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 1rem;
}

.button {
    background: transparent;
    border: none !important;
    cursor: pointer;
}

.button:active {
    color: rgba(255,255,255,0.16);
}

.button-alt {
    color: #fff;
    background-color: #323232;
    border-color: #323232;
    border-style: solid;
    border-radius: .5rem;
    border-left-width: 1rem;
    border-right-width: 1rem;
    border-top-width: 0;
    border-bottom-width: 0;
    line-height: 1.5;
    cursor: pointer;
}

.button-alt:active {
    color: #a8a8a8;
}

.profile-button {
    all: unset;
    cursor: pointer;
    margin-right: 0.5rem;
}

.img-signout {
    vertical-align: middle;
    width: 2rem;
    margin-right: 0.5rem;
}

.upload_button {
    display: none;
    margin-right: 0.5rem;
}

p {
    line-height: 1.5;
}

hr.solid {
    border: 1px solid rgba(255,255,255,0.12);
}

hr.solid-alt {
    border: 1px solid #121212;
}

/* overlay and spinner */
.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

#welcomeOverlay {
    z-index: 19;
}

#spinner-overlay {
    display: flex;
    background: #121212;
    z-index: 19;
}

#spinner {
    display: block;
    margin: auto;
    z-index: 20;
    border: 2rem solid #fff; /* Light gray border */
    border-top: 2rem solid #08C8BB; /* Blue border on top */
    border-radius: 50%; /* Make it round */
    width: 10rem; /* Set the width and height */
    height: 10rem;
    animation: spin 2s linear infinite; /* Rotate animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); } /* Start position */
    100% { transform: rotate(360deg); } /* End position (full circle) */
}

/* Sign Up Form */


.login-form {
    position: fixed;
    z-index: 9;
    background-color: #121212;
    max-width: 90%;
    max-height: 50%;
    margin: auto;
    margin-top: 0;
    border-radius: 2rem;
}

.login-container {
    margin: 2rem;
    line-height: 2.5;
}

.login-container label {
    display: block;
}

.login-container .error-message {
    display: none;
    color: #c80815;
}

.error-message h6 {
    margin: 0rem;
}

.register-buttons{
    justify-content: center;
}

/* Upload Form */
.upload-form {
    position: fixed;
    z-index: 9;
    background-color: #121212;
    min-width: 40rem;
    width: 25%;
    margin: auto;
    border-radius: 2rem;
}

.upload-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 2.5;
}

.upload-form__file-div {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.upload-container button [type=file] {
    display:none;
}

.upload-container [type=file]{ 
    display:none;
}

/* Main */
main {
    margin: 0 0rem 0;
}

/* Stats Display */
.stats-display {
    display: none;
    position: absolute;
    z-index: 9;
    background-color: #121212;
    min-width: 20rem;
    width: 30%;
    margin: auto;
    top: 10%;
    border-radius: 2rem;
}

.stats-container {
    margin-top: -1rem;
    line-height: 2.5;
}

.stats-container h5 {
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.stats-container hr {
    margin-top: 0;
    margin-bottom: 0;
    border-color: #121212;
}

.stats-display hr {
    margin-top: 0;
    border-color: #121212;
}

/* Posts */


.post-container {
    position: relative;
    display: block;
    width: max-content;
    max-width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.post-container video {
    z-index: -1;
}

.post-container--info {
    position: absolute;
    margin-top: -5rem;
    margin-left: -1rem;
    display: flex;
    justify-content: left;
    align-items: top;
    white-space: nowrap;
    z-index: 2;
}

.post-container-overlay {
    display: flex;
    padding: 2rem;
    padding-right: 0;
}

.post img {
    width: 4rem;
    height: 4rem;
}

.content {
    padding-left: 1rem;
}

.author-name {
    display: inline-block;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.4rem;
    margin-top: 0;
    cursor: pointer;
}

.description p {
    line-height: 1.9rem;
    font-size: 1rem;
    word-break: break-word;
    font-weight: 400;
    margin-top: -1.5rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    max-width: 30rem;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.post-container video {
    width: 100%;
    max-width: 500px;
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    background: #121212;
}

.feed-error {
    line-height: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 20rem;
}

/* PROFILE TEMPLATE */

.prof-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.prof-header--pfp {
    position: relative;
    width: 8.2rem;
    height: 8.2rem;
    margin-top: 2rem;
}

.prof-header--pfp img {
    width: 85%;
    height: 85%;
}

.prof-edit button {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    width: 2.4rem;
    height: 1.4rem;
    border: none;
    background-color: transparent;
}

.prof-edit img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.prof-header--info {
    margin-left: 1rem;
    text-overflow:ellipsis;
}

.prof-header--info .prof-edit button {
    top: -1rem;
    right: -3rem;
}

.prof-header--info__user {
    position: relative;
}

.prof-bio {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: 5rem;
}

.prof-bio--description {
    position: relative;
    height: 100%;
    text-overflow:ellipsis;
}

.prof-bio .prof-edit button {
    top: -0.5rem;
    right: -2.5rem;
}

.prof-top-buttons button {
    margin-left: 5rem;
}

.prof-header--stats {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
}

.prof-header--stats h4 {
    margin: 0;
}

.prof-feed {
    margin: 0 auto;
}

.video-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.3rem;
    max-width: 50rem;
    margin: auto;
}

.video-grid__item {
    position: relative;
}

.video-grid__item video {
    width: 100%;
    background: #121212;
}

.video-grid__item .prof-edit button {
    top: 5%;
    right: 0;
}